
CORS_ORIGINS="http://localhost:3000,http://localhost:4127"

# api gateway config
USER_SERVICE_URI="http://localhost:8081"
NOTIFICATION_SERVICE_URI="http://localhost:8084"

Environment=develop||production

# jwt config
USER_SERVICE_PORT=8081
NOTI_SERVICE_PORT=8084

JWT_SECRET_KEY=your_secret_key_here
JWT_VALID_DURATION=5
JWT_REFRESHABLE_DURATION=1440
JWT_LONG_REFRESHABLE_DURATION=10080

# db config
# mongodb
MONGO_DB_USERNAME=admin
MONGO_DB_PASSWORD=password
MONGO_DB_PORT=27017
MONGO_DB_NAME=your_db_name_here


# postgresql
POSTGRES_DB_NAME=your_db_name_here
POSTGRES_DB_USER=admin
POSTGRES_DB_PASSWORD=password
POSTGRES_DB_PORT=5432
PSQL_DSN=your_postgresql_url-here

# redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here

# smtp config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_user_config
SMTP_PASSWORD=your_email_app_pwd_here
SMTP_FROM=your_email_here

# twilio config
TWILIO_ACCOUNT_SID=your_twilio_account_sID_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_FROM_NUMBER=your_phone_number_here

# elastic search config
ELASTICSEARCH_URL=localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=your_password


# rabbitMQ config
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=
RABBITMQ_PASSWORD=