
CORS_ORIGINS="http://localhost:3000,http://localhost:4127"

# api gateway config
USER_SERVICE_URI="http://localhost:8081"

# jwt config
USER_SERVICE_PORT=8081
JWT_SECRET_KEY=your_secret_key_here
JWT_VALID_DURATION=5
JWT_REFRESHABLE_DURATION=1440
JWT_LONG_REFRESHABLE_DURATION=10080

# db config (mongodb)
DB_USERNAME=admin
DB_PASSWORD=admin
DB_PORT=27017
DB_NAME=your_db_name_here

# redis config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here